.arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  height: 2.5rem;
  width: 2.5rem;
  transform: translateY(-50%);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;
}

.arrow.left {
  left: 0.5rem;
}

.arrow.right {
  right: 0.5rem;
}

.arrow:hover {
  background-color: white;
}
